target
generated-docs
zig-cache
.direnv
*.rs.bk
*.o
*.tmp

# llvm human-readable output 
*.ll
*.bc

#valgrind
vgcore.*

#editors
.idea/
.vscode/
.ignore

#files too big to track in git
editor/benches/resources/100000_lines.roc
editor/benches/resources/10000_lines.roc
editor/benches/resources/1000_lines.roc
editor/benches/resources/100_lines.roc
editor/benches/resources/25000000_lines.roc
editor/benches/resources/50000_lines.roc
editor/benches/resources/500_lines.roc

# rust cache (sccache folder)
sccache_dir

# self-contained benchmark folder
bench-folder*

# earthly
earthly_log.txt
