[package]
name = "roc"
version = "0.1.0"
authors = ["Richard Feldman <oss@rtfeldman.com>"]
edition = "2018"

[dependencies]
log = "0.4.8"
petgraph = { version = "0.4.5", optional = true }
im-rc = "14.0.0"
wyhash = "0.3.0"
tokio = { version = "0.2", features = ["fs", "rt-threaded"] }
bumpalo = "2.6.0"
# NOTE: Breaking API changes get pushed directly to this Inkwell branch, so be
# very careful when running `cargo update` to get a new revision into Cargo.lock.
#
# We have to depend on `branch` instead of a specific `rev` here because, although
# `rev` works locally, it causes an error on GitHub Actions. (It's unclear why,
# but after several hours of trying unsuccessfully to fix it, `branch` is it.)
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "llvm8-0" }

[dev-dependencies]
pretty_assertions = "0.5.1"
maplit = "1.0.1"
indoc = "0.3.3"
quickcheck = "0.8"
quickcheck_macros = "0.8"
