:root {
    /* WCAG AAA Compliant colors */
    --code-bg: #f4f8f9;
    --gray: #717171;
    --orange: #bf5000;
    --green: #0b8400;
    --cyan: #067c94;
    --blue: #05006d;
    --violet: #7c38f5;
    --violet-bg: #ece2fd;
    --magenta: #a20031;

    --link-color: var(--violet);
    --code-link-color: var(--violet);
    --text-color: #000;
    --text-hover-color: var(--violet);
    --body-bg-color: #ffffff;
    --border-color: #717171;
    --faded-color: #4c4c4c;
    --font-sans: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial,
        sans-serif;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    --top-header-height: 67px;
    --sidebar-width: 280px;
}

html {
    line-height: 1.5rem;
    background: var(--body-bg-color);
    color: var(--text-color);
    font-family: "Lato", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

footer {
    font-size: 0.9rem;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 14px;
}

section p:last-child {
    margin-bottom: 0;
}

aside {
    margin-left: 4rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 0.5rem;
}

#top-bar {
    background-color: var(--violet-bg);
    width: 100%;
    height: 50px;
}

#top-bar nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#top-bar .home-link {
    display: flex;
    color: var(--top-bar-fg);
    font-size: 1.8rem;
    padding: 10px;
}

#top-bar-links {
    display: flex;
}

#top-bar-links a,
#top-bar-links label {
    box-sizing: border-box;
    color: var(--top-bar-fg);
    font-size: 1.1rem;
    display: block;
    height: 40px;
    padding: 12px 16px;
    margin: 0 2px;
}

main {
    max-width: var(--body-max-width);
    margin: 36px auto;
    padding: 0 12px;
}

code,
samp {
    font-family: var(--font-mono);
    color: var(--code-color);
    background-color: var(--code-bg);
    display: inline-block;
}

p code,
td code,
li code,
th code,
samp {
    padding: 0 8px;
}

code a,
a code {
    text-decoration: none;
    color: var(--code-link-color);
    background: none;
    padding: 0;
}

code a:visited,
a:visited code {
    color: var(--code-link-color);
}

pre {
    position: relative;
    margin-bottom: 16px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: var(--code-bg);
    overflow-x: hidden;
    word-wrap: normal;
    font-size: 1.2rem;
    line-height: 1.76em;
    white-space: pre;
}

pre > samp {
    overflow-x: auto;
    display: block;
}

.repl-prompt:before {
    /* Add this using CSS so it isn't selectable, which would be annoying when trying to copy/paste! */
    color: var(--repl-prompt);
    content: "» ";
}

.repl-err {
    color: var(--magenta);
}

/* Tables */

table {
    border-collapse: collapse;
    overflow-x: auto;
    border: 2px solid #f0f0f0;
}

thead {
    border: none;
}

tbody {
    border: none;
}

tr {
    border: none;
    border-top: 2px solid #f0f0f0;
}

th,
td {
    border: none;
    border-right: 2px solid #f0f0f0;
    padding: 12px;
}

th:last-child,
td:last-child {
    border-right: none;
}

p,
aside,
li,
footer {
    font-size: 1.2rem;
    line-height: 1.85rem;
}

/* Mobile-friendly screen width */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    p,
    aside,
    li,
    footer,
    code,
    samp,
    .code-snippet {
        font-size: 16px;
    }

    h1 code,
    h2 code,
    h3 code,
    h4 code,
    h5 code {
        font-size: inherit;
    }

    code {
        white-space: normal;
    }

    #tutorial-toc-toggle-label,
    #close-tutorial-toc {
        display: block;
    }

    #tutorial-toc-toggle:checked + #tutorial-toc {
        display: block;
    }

    #tutorial-toc {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        margin: 0;
        padding-right: 120px;
        border: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    code {
        word-break: break-word !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2em !important;
        font-size: 2rem !important;
    }

    #top-bar-links a,
    #top-bar-links label {
        padding: 12px 8px;
        margin: 0;
    }
}

@font-face {
    font-family: "Permanent Marker";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/permanent-marker-v16-latin/permanent-marker-v16-latin-regular.woff2")
            format("woff2"),
        url("/fonts/permanent-marker-v16-latin/permanent-marker-v16-latin-regular.woff")
            format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/merriweather-v30-latin-ext_latin/merriweather-v30-latin-ext_latin-regular.woff2")
            format("woff2"),
        url("/fonts/merriweather-v30-latin-ext_latin/merriweather-v30-latin-ext_latin-regular.woff")
            format("woff");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff2")
            format("woff2"),
        url("/fonts/merriweather-v30-latin/merriweather-v30-latin-regular.woff")
            format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/merriweather-sans-v22-latin-ext_latin/merriweather-sans-v22-latin-ext_latin-regular.woff2")
            format("woff2"),
        url("/fonts/merriweather-sans-v22-latin-ext_latin/merriweather-sans-v22-latin-ext_latin-regular.woff")
            format("woff");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/merriweather-sans-v22-latin/merriweather-sans-v22-latin-regular.woff2")
            format("woff2"),
        url("/fonts/merriweather-sans-v22-latin/merriweather-sans-v22-latin-regular.woff")
            format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/lato-v23-latin-ext_latin/lato-v23-latin-ext_latin-regular.woff2")
            format("woff2"),
        url("/fonts/lato-v23-latin-ext_latin/lato-v23-latin-ext_latin-regular.woff")
            format("woff");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/lato-v23-latin/lato-v23-latin-regular.woff2")
            format("woff2"),
        url("/fonts/lato-v23-latin/lato-v23-latin-regular.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-code-pro-v22-latin-ext_latin/source-code-pro-v22-latin-ext_latin-regular.woff2")
            format("woff2"),
        url("/fonts/source-code-pro-v22-latin-ext_latin/source-code-pro-v22-latin-ext_latin-regular.woff")
            format("woff");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-code-pro-v22-latin/source-code-pro-v22-latin-regular.woff2")
            format("woff2"),
        url("/fonts/source-code-pro-v22-latin/source-code-pro-v22-latin-regular.woff")
            format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* WCAG AAA Compliant colors */
        /* WCAG AAA Compliant colors */
        --code-bg: #202746;
        --gray: #b6b6b6;
        --orange: #fd6e08;
        --green: #8ecc88;
        --cyan: #12c9be;
        --blue: #b1afdf;
        --violet: #caadfb;
        --violet-bg: #332944;
        --magenta: #f39bac;

        --link-color: var(--violet);
        --code-link-color: var(--violet);
        --text-color: #eaeaea;
        --body-bg-color: #0e0e0f;
        --border-color: var(--gray);
        --code-color: #eeeeee;
        --logo-solid: #8f8f8f;
        --faded-color: #bbbbbb;
        --gray: #6e6e6e;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-shadow: none;
    }

    html {
        scrollbar-color: #444444 #2f2f2f;
    }

    table,
    tr,
    th,
    td {
        border-color: var(--gray);
    }
}

/* Comments `#` and Documentation comments `##` */
samp .comment,
code .comment {
    color: var(--green);
}

/* Number, String, Tag literals */
samp .storage.type,
code .storage.type,
samp .string,
code .string,
samp .string.begin,
code .string.begin,
samp .string.end,
code .string.end,
samp .constant,
code .constant,
samp .literal,
code .literal {
    color: var(--cyan);
}

/* Keywords and punctuation */
samp .keyword,
code .keyword,
samp .punctuation.section,
code .punctuation.section,
samp .punctuation.separator,
code .punctuation.separator,
samp .punctuation.terminator,
code .punctuation.terminator,
samp .kw,
code .kw {
    color: var(--magenta);
}

/* Operators */
samp .op,
code .op,
samp .keyword.operator,
code .keyword.operator {
    color: var(--orange);
}

/* Delimieters */
samp .delimeter,
code .delimeter {
    color: var(--gray);
}

/* Variables modules and field names */
samp .function,
code .function,
samp .meta.group,
code .meta.group,
samp .meta.block,
code .meta.block,
samp .lowerident,
code .lowerident {
    color: var(--blue);
}

/* Types, Tags, and Modules */
samp .type,
code .type,
samp .meta.path,
code .meta.path,
samp .upperident,
code .upperident {
    color: var(--green);
}

samp .dim,
code .dim {
    opacity: 0.55;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.copy-button {
    background: var(--code-bg);
    border: 1px solid var(--magenta);
    color: var(--magenta);
    display: inline-block;
    cursor: pointer;
    margin: 8px;
}

.copy-button:hover {
    border-color: var(--green);
    color: var(--green);
}

.roc-logo {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.home-goals-container {
    display: flex;
    justify-content: space-between;
}

.home-goals-column {
    flex-basis: 30%;
    padding: 20px;
    background-color: var(--violet-bg);
    margin-right: 20px;
}

.home-goals-column:last-child {
    margin-right: 0;
}

.home-goals-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-goals-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.home-goals-learn-more {
    color: var(--violet);
    text-decoration: none;
}

#footer {
    background-color: var(--violet-bg);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
  }