[package]
name = "roc_docs_cli"
version = "0.0.1"
license = "UPL-1.0"
authors = ["The Roc Contributors"]
edition = "2021"
description = "Provides a binary that is only used for static build servers."

# This binary is only used on static build servers, e.g. Netlify.
# Having its own (extremely minimal) CLI means docs can be generated
# on a build server after building this crate from source, without
# having to install non-Rust dependencies (LLVM, Zig, wasm things, etc.)
# It gets called in www/build.sh via `cargo run --bin roc-docs`
[[bin]]
name = "roc-docs"
path = "src/main.rs"
test = false
bench = false

[dependencies]
roc_docs = { path = "../docs" }
clap = { version = "3.2.20", default-features = false, features = ["std", "color", "suggestions", "derive"] }

[target.'cfg(windows)'.dependencies]
libc.workspace = true 
