:root {
  --link-color: #5c0bff;
  --text-color: #333333;
  --logo-solid: #aaaaaa;
  --main-bg-color: #fdfdfd;
  --border-bg-color: #dddddd;
  --logo-primary: #9d9d9d;
  --logo-secondary: #bababa;
  --faded-color: #777777;
  --main-width: 720px;
}

a {
  color: #972395;
}

.top-header {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 72px;
  width: 960px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
  font-size: 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 6px 0;
}

.logo {
  display: inline-block;
  height: 40px;
  color: #fefefe;
}

.logo:hover {
  text-decoration: none;
}

.logo-solid {
  fill: var(--logo-solid);
}

.logo-primary {
  fill: var(--logo-primary);
}

.logo-secondary {
  fill: var(--logo-secondary);
}

.nav-elem {
  display: inline-block;
  font-size: 32px;
}

.pkg-name {
  color: var(--text-color);
  display: inline-block;
  margin: 0 24px;
  font-weight: normal;
}

.pkg-name a {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.version {
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  color: var(--faded-color);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Georgia, serif;
  min-width: 960px;
  color: var(--text-color);
  background-color: var(--border-bg-color);
}

p {
    overflow-wrap: break-word;
}

.content {
  display: flex;
  width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
}

main {
  font-size: 18px;
  line-height: 32px;
  padding: 32px;
  width: var(--main-width);
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  clip-path: polygon(0 100%, 100% 100%, 100% 48px, 668px 0, 0px 0px);
}

.sidebar {
  box-sizing: border-box;
  padding-left: 20px;
  width: 240px;
}

.sidebar-heading {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  color: var(--faded-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
}

.module-name {
  font-size: 56px;
  line-height: 56px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 48px;
  color: var(--faded-color);
}

.sidebar-link {
  font-size: 18px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: bold;
  color: var(--faded-color);
  display: block;
  width: 100%;
  padding: 8px 16px;
}

.sidebar-link:hover {
  text-decoration: none;
}

p a {
  color: var(--link-color);
}

h3 {
  font-size: 32px;
  font-weight: normal;
  margin: 32px 0 24px 0;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  margin: 32px 0 24px 0;
}

.type-def {
  font-size: 24px;
  color: var(--link-color);
}

.code-snippet {
  padding: 12px 16px;
  display: block;
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: var(--border-bg-color);
}

.module-search {
  width: 100%;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  margin: 12px 0;
  padding: 12px 16px;
  border: none;
  color: var(--faded-color);
  background: none;
}

.module-search::placeholder {
  color: var(--faded-color);
  opacity: 1;
}

.module-search:hover {
  background-color: var(--main-bg-color);
}

.module-search:focus {
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #080808;
    --border-bg-color: #202020;
    --text-color: #fefefe;
    --logo-solid: #777777;
    --faded-color: #bbbbbb;
    --link-color: #ab82ff;
    --logo-primary: #ffffffee;
    --logo-secondary: #ffffffaa;
  }

  html {
    scrollbar-color: #444444 #2f2f2f;
  }

  .sidebar-link:hover {
    color: #fefefe;
    background-color: #229156;
  }
}
