:root {
  --link-color: #5c0bff;
  --text-color: #333333;
  --logo-solid: #aaaaaa;
  --code-color: #222222;
  --main-bg-color: #fdfdfd;
  --border-bg-color: #dddddd;
  --code-bg-color: #eeeeee;
  --logo-gradient-start: #aaaaaa;
  --logo-gradient-mid: #777777;
  --logo-gradient-end: #333333;
  --faded-color: #777777;
  --monospace-font;
  --font-sans: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

a {
  color: #972395;
}

.top-header {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 72px;
  font-family: var(--font-sans);
  font-size: 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 6px 0;
}

.logo {
  display: inline-block;
  height: 40px;
  padding: 8px 8px 8px 0;
}

.logo:hover {
  text-decoration: none;
}

.logo-solid {
  fill: url("#logo-gradient")
}

.logo:hover .logo-solid {
  fill: var(--link-color);
}

.nav-elem {
  display: inline-block;
  font-size: 32px;
}

.pkg-name {
  color: var(--text-color);
  display: inline-block;
  margin: 0 24px;
  font-weight: normal;
}

.pkg-name a {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.version {
  margin-top: 8px;
  font-size: 18px;
  padding: 8px;
  margin-left: 8px;
  color: var(--faded-color);
}

.source {
  margin-left: 24px;
  margin-top: 8px;
  padding: 8px;
  font-size: 18px;
  color: var(--faded-color);
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 780px;
  max-width: 1280px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-serif);
  color: var(--text-color);
  background-color: var(--border-bg-color);
}

p {
    overflow-wrap: break-word;
    margin: 24px 0;
}

footer {
  box-sizing: border-box;
  padding: 36px 24px;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

main {
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  padding: 32px;
  background-color: var(--main-bg-color);
  clip-path: polygon(0 100%, 100% 100%, 100% 48px, calc(100% - 48px) 0, 0px 0px);
}

.sidebar {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  width: 200px;
  flex-shrink: 0;
}

.sidebar-heading {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  color: var(--faded-color);
  font-family: var(--font-sans);
  cursor: default;
}

.module-name {
  font-size: 56px;
  line-height: 56px;
  font-family: var(--font-mono);
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 48px;
  color: var(--faded-color);
}

.sidebar-link {
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--font-mono);
  font-weight: bold;
  color: var(--faded-color);
  display: block;
  width: 100%;
  padding: 8px 16px;
}

.sidebar-link:visited {
  color: var(--faded-color);
}

.sidebar-link:hover {
  text-decoration: none;
  color: var(--link-color);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

h3 {
  font-size: 32px;
  margin: 48px 0 24px 0;
}

h4 {
  font-size: 24px;
}

.type-def {
  font-size: 24px;
  color: var(--link-color);
}

.code-snippet {
  padding: 12px 16px;
  display: block;
  box-sizing: border-box;
  font-family: var(--font-mono);
  background-color: var(--border-bg-color);
}

code {
  font-family: var(--font-mono);
  color: var(--code-color);
  background-color: var(--code-bg-color);
  padding: 0 8px;
  display: inline-block;
}

code a {
  color: var(--link-color);
}

code a:visited {
  color: var(--link-color);
}

pre {
  margin: 36px 0;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--code-bg-color);
  overflow-x: auto;
}

.module-search {
  width: 100%;
  font-family: var(--font-mono);
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  margin: 12px 0;
  padding: 12px 16px;
  border: none;
  color: var(--faded-color);
  background: none;
}

.module-search::placeholder {
  color: var(--faded-color);
  opacity: 1;
}

.module-search:hover {
  background-color: var(--main-bg-color);
}

.module-search:focus {
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #363636;
    --border-bg-color: #111111;
    --code-color: #eeeeee;
    --code-bg-color: #2b2b2b;
    --text-color: #cccccc;
    --logo-solid: #777777;
    --faded-color: #bbbbbb;
    --link-color: #b894ff;
    --logo-gradient-start: #333333;
    --logo-gradient-mid: #777777;
    --logo-gradient-end: #aaaaaa;
  }

  html {
    scrollbar-color: #444444 #2f2f2f;
  }
}
