:root {
  --link-color: #5c0bff;
  --text-color: #333333;
  --logo-solid: #aaaaaa;
  --code-color: #222222;
  --main-bg-color: #fdfdfd;
  --border-bg-color: #dddddd;
  --code-bg-color: #eeeeee;
  --logo-gradient-start: #aaaaaa;
  --logo-gradient-mid: #777777;
  --logo-gradient-end: #333333;
  --faded-color: #777777;
  --monospace-font;
  --font-sans: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --sidebar-width: 240px;
}

a {
  color: #972395;
}

.top-header {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  font-size: 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 6px 0;
  min-width: 0; /* necessary for text-overflow: ellipsis to work in descendants */
}

.logo {
  padding-left: 16px;
  padding-right: 8px;
}

.logo svg {
  height: 48px;
  width: 48px;
}

.logo:hover {
  text-decoration: none;
}

.logo-solid {
  fill: url("#logo-gradient")
}

.logo:hover .logo-solid {
  fill: var(--link-color);
}

.pkg-full-name {
  color: var(--text-color);
  display: inline-block;
  font-size: 32px;
  margin: 0 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 8px;
}

.pkg-full-name a {
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pkg-and-logo {
  min-width: 0; /* necessary for text-overflow: ellipsis to work in descendants */
  display: flex;
  align-items: flex-end;
  height: 55px;
}

.version-and-source {
  flex-shrink: 0; /* always shrink the package name before these; they have a relatively constrained length */
  font-size: 18px;
  display: flex;
  height: 55px;
  align-items: flex-end;
}

.version, .source {
  font-weight: bold;
  padding: 12px;
  margin-right: 8px;
  color: var(--faded-color);
}

.source {
  padding-left: 8px;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 780px;
  max-width: 1280px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-serif);
  color: var(--text-color);
  background-color: var(--border-bg-color);
}

p {
    overflow-wrap: break-word;
    margin: 24px 0;
}

footer {
  font-size: 14px;
  box-sizing: border-box;
  padding: 16px;
}

footer p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 8px;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse; /* We want the sidebar in the DOM first for tab ordering, but it should render on the right. */
  justify-content: space-between;
}

main {
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  line-height: 1.85em;
  padding: 32px;
  background-color: var(--main-bg-color);
  clip-path: polygon(0 100%, 100% 100%, 100% 48px, calc(100% - 48px) 0, 0px 0px);
}

.sidebar {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  width: var(--sidebar-width);
  margin-top: 108px;
  flex-shrink: 0;
}

.sidebar-heading {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--faded-color);
  font-family: var(--font-sans);
  cursor: default;
}

.module-name {
  font-size: 56px;
  line-height: 1em;
  font-family: var(--font-mono);
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 48px;
  color: var(--faded-color);
}

.sidebar-link {
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--font-mono);
  font-weight: bold;
  color: var(--faded-color);
  display: block;
  width: 100%;
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: var(--link-color);
}

a:visited {
  color: inherit;
}

h3 {
  font-size: 32px;
  margin: 48px 0 24px 0;
}

h4 {
  font-size: 24px;
}

.type-def {
  font-size: 24px;
  color: var(--link-color);
}

.code-snippet {
  padding: 12px 16px;
  display: block;
  box-sizing: border-box;
  font-family: var(--font-mono);
  background-color: var(--border-bg-color);
}

code {
  font-family: var(--font-mono);
  color: var(--code-color);
  background-color: var(--code-bg-color);
  padding: 0 8px;
  display: inline-block;
}

code a {
  color: var(--link-color);
}

code a:visited {
  color: var(--link-color);
}

pre {
  margin: 36px 0;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--code-bg-color);
  overflow-x: auto;
}

.module-search {
  width: 100%;
  font-family: var(--font-mono);
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  margin: 12px 0;
  padding: 12px 16px;
  border: none;
  color: var(--faded-color);
  background: none;
}

.module-search::placeholder {
  color: var(--faded-color);
  opacity: 1;
}

.module-search:hover {
  background-color: var(--main-bg-color);
}

.module-search:focus {
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #363636;
    --border-bg-color: #111111;
    --code-color: #eeeeee;
    --code-bg-color: #2b2b2b;
    --text-color: #cccccc;
    --logo-solid: #777777;
    --faded-color: #bbbbbb;
    --link-color: #b894ff;
    --logo-gradient-start: #333333;
    --logo-gradient-mid: #777777;
    --logo-gradient-end: #aaaaaa;
  }

  html {
    scrollbar-color: #444444 #2f2f2f;
  }
}

@media only screen and (max-device-width: 480px) {
  .top-header {
    width: auto;
  }

  .pkg-full-name {
    margin: 0;
    font-size: 24px;
  }

  .pkg-full-name a {
    vertical-align: middle;
    padding: 18px 0;
  }

  .logo {
    padding-left: 2px;
    width: 50px;
    height: 54px;
  }

  .version, .source {
    margin: 0;
    font-weight: normal;
  }

  .version-and-source {
    padding-top: 0;
  }

  .version {
    margin-left: 8px;
  }

  .source {
    margin-right: 8px;
  }

  .module-name {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: calc(100% - 18px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  main {
    padding: 18px;
    font-size: 16px;
  }

  .container {
    margin: 0;
    min-width: 320px;
    max-width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    margin-top: 0;
    padding-left: 0;
    width: auto;
  }

  .sidebar-heading {
    font-size: 24px;
    margin: 16px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: 16px;
  }

  .main-nav {
    justify-content: space-between;
  }

  .content {
    /* Display the sidebar below <main> without affecting tab index */
    flex-direction: column-reverse;
  }
}
