app
*.o
*.dSYM
libhost.a
roc_app.ll
roc_app.bc
benchmarks/nqueens
benchmarks/deriv
benchmarks/cfold
benchmarks/rbtree-insert
benchmarks/rbtree-del
benchmarks/closure
benchmarks/test-astar
benchmarks/test-base64
effect-example
