*.dSYM
libhost.a
libapp.so
dynhost
*.rm
*.rh

helloWorld
helloWorldNoURL
inspect-gui
inspect-logging
swiftui
parser/examples/example
gui/hello-gui
gui/breakout/breakout
gui/breakout/hello-gui
webserver/echo
webserver/http