[package]
name = "valgrind"

authors.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[dev-dependencies]
cli_test_utils.workspace = true
roc_command_utils.workspace = true
roc_build.workspace = true
roc_linker.workspace = true
roc_load.workspace = true
roc_mono.workspace = true
roc_packaging.workspace = true
roc_reporting.workspace = true
copy_zig_glue.workspace = true

bumpalo.workspace = true
indoc.workspace = true
target-lexicon.workspace = true
tempfile.workspace = true

[features]
default = ["target-aarch64", "target-x86_64", "target-wasm32"]

target-aarch64 = ["roc_build/target-aarch64"]
target-arm = []
target-wasm32 = []
target-x86 = []
target-x86_64 = ["roc_build/target-x86_64"]

[package.metadata.cargo-udeps.ignore]
development = ["roc_build", "roc_linker"]
