on:
  workflow_call:
  workflow_dispatch:

name: CI New Compiler

# Do not add permissions here! Configure them at the job level!
permissions: {}

jobs:
  # Checks that don't need to run on every OS
  check-once:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: mlugg/setup-zig@8d6198c65fb0feaa111df26e6b467fea8345e46f # ratchet:mlugg/setup-zig@v2.0.5
        with:
          version: 0.15.2
          use-cache: true

      # We run zig check with tracy enabled.
      # This ensure it compiles and doesn't go stale.
      - name: Checkout Tracy
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
        with:
          path: tracy
          repository: wolfpld/tracy
          ref: v0.11.0

      # To `roc check` benchmark script:
      - name: setup Roc
        run: |
          curl -s -OL https://github.com/roc-lang/roc/releases/download/nightly/roc_nightly-linux_x86_64-latest.tar.gz
          # rename nightly tar
          mv $(ls | grep "roc_nightly.*tar\.gz") roc_nightly.tar.gz
          # decompress the tar
          tar -xzf roc_nightly.tar.gz
          rm roc_nightly.tar.gz
          # simplify nightly folder name
          mv roc_nightly* roc_nightly
          cd roc_nightly
          # make roc binary available
          echo "$(pwd)" >> $GITHUB_PATH

      - run: roc version

      - run: |
          roc check src/PROFILING/exec_bench.roc
          roc test src/PROFILING/exec_bench.roc

  zig-tests:
    needs: check-once
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            cpu_flag: -Dcpu=x86_64_v3

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - uses: mlugg/setup-zig@8d6198c65fb0feaa111df26e6b467fea8345e46f # ratchet:mlugg/setup-zig@v2.0.5
        with:
          version: 0.15.2
          use-cache: true
      - if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        uses: cachix/install-nix-action@02a151ada4993995686f9ed4f1be7cfbb229e56f # ratchet:cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05

      # temp fix, see https://roc.zulipchat.com/#narrow/channel/395097-compiler-development/topic/CI/near/542085291
      - name: delete llvm-config
        if: startsWith(matrix.os, 'ubuntu') && endsWith(matrix.os, '-arm')
        run: |
          sudo rm /usr/lib/llvm-18/bin/llvm-config

      - name: Test inside nix too
        if: ${{ runner.os == 'Linux' || (runner.os == 'macOS' && runner.arch != 'X64') }}
        run: |
          git clean -fdx
          git reset --hard HEAD
          nix develop ./src/ -c zig build && zig build snapshot && zig build test
