on:
  #pull_request:
  
name: test default.nix on linux arm64 

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    RUST_BACKTRACE: 1

jobs:
    nix-linux-arm64-default:
        name: nix-linux-arm64
        runs-on: [self-hosted, Linux, ARM64]
        timeout-minutes: 150
        steps:
            - uses: actions/checkout@v3
               
            - name: test building default.nix
              run: nix-build
