on:
  #pull_request:

name: Nix linux x86_64 cargo test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  nix-linux-x86:
    name: nix-linux-x86
    runs-on: [self-hosted, i7-6700K]
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v3
          
      - name: test building default.nix
        run: nix-build 

      - name: execute tests with --release
        run: nix develop -c cargo test --locked --release

      - name: test wasm32 cli_run
        run: nix develop -c cargo test --locked --release --features="wasm32-cli-run"

      - name: test the dev backend # these tests require an explicit feature flag
        run: nix develop -c cargo nextest run --locked --release --package test_gen --no-default-features --features gen-dev --no-fail-fast

      - name: wasm repl tests
        run: nix develop -c crates/repl_test/test_wasm.sh

      - name: test building wasm repl
        run: nix develop -c ./ci/www-repl.sh
