on:
  workflow_call:

name: Nix linux x86_64 cargo test

env:
  RUST_BACKTRACE: 1

jobs:
  nix-linux-x86:
    name: nix-linux-x86
    runs-on: [self-hosted, i5-4690K]
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4

      - name: test building default.nix
        run: nix-build

      - name: execute tests with --release
        run: nix develop -c cargo test --locked --release

      - name: roc test all builtins
        run: nix develop -c ./ci/roc_test_builtins.sh

      - name: test wasm32 cli_tests
        run: nix develop -c cargo test --locked --release --features="wasm32-cli-run"

      - name: test the dev backend # these tests require an explicit feature flag
        run: nix develop -c cargo nextest run --locked --release --package test_gen --no-default-features --features gen-dev --no-fail-fast

      - name: wasm repl tests
        run: nix develop -c crates/repl_test/test_wasm.sh

      - name: test building wasm repl
        run: nix develop -c ./ci/www-repl.sh
