on:
  pull_request:

name: SpellCheck

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  spell-check:
    name: spell check
    runs-on: [ubuntu-22.04]
    timeout-minutes: 10
    env:
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@v4

      - run: cargo install typos-cli --version 1.0.11

      - name: do spell check with typos-cli 1.0.11
        run: typos
