on:
  pull_request:

name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  test-zig-rust-wasm:
    name: test zig, rust, wasm...
    runs-on: [self-hosted, i5-4690K]
    timeout-minutes: 90
    env:
      RUSTC_WRAPPER: /home/small-ci-user/.cargo/bin/sccache
      ROC_ZIG: /home/small-ci-user/Downloads/zig-linux-x86_64-0.11.0/zig
    steps:
      - uses: actions/checkout@v3

      - name: Check for duplicate AUTHORS
        run: diff <(sort AUTHORS) <(sort AUTHORS | uniq) # The < operator treats a string as a file. diff 'succeeds' if no difference.

      # make sure we use zig 11
      - run: echo /home/small-ci-user/Downloads/zig-linux-x86_64-0.11.0/ >> GITHUB_PATH
      
      - run: zig version

      - name: zig fmt check, zig tests
        run: cd crates/compiler/builtins/bitcode && ./run-tests.sh

      - name: roc format check on builtins
        run: cargo run --locked --release format --check crates/compiler/builtins/roc

      - name: zig wasm tests
        run: cd crates/compiler/builtins/bitcode && ./run-wasm-tests.sh

      - name: regular rust tests
        run: cargo test --locked --release && sccache --show-stats

      - name: check that the platform`s produced dylib is loadable
        run: cd examples/platform-switching/rust-platform && LD_LIBRARY_PATH=. cargo test --release --locked
        
      - name: test the dev backend # these tests require an explicit feature flag
        run: cargo test --locked --release --package test_gen --no-default-features --features gen-dev && sccache --show-stats

      - name: test gen-wasm single threaded # gen-wasm has some multithreading problems to do with the wasmer runtime
        run: cargo test --locked --release --package test_gen --no-default-features --features gen-wasm -- --test-threads=1 && sccache --show-stats

      - name: run `roc test` on Str builtins
        run: cargo run --locked --release -- test crates/compiler/builtins/roc/Str.roc && sccache --show-stats

      - name: run `roc test` on Dict builtins
        run: cargo run --locked --release -- test crates/compiler/builtins/roc/Dict.roc && sccache --show-stats

      - name: wasm repl test
        run: crates/repl_test/test_wasm.sh && sccache --show-stats

      - name: test building wasm repl
        run: ./ci/www-repl.sh && sccache --show-stats

      #TODO i386 (32-bit linux) cli tests
      #TODO verify-no-git-changes

      - name: test website build script
        run: bash www/build.sh
