*.dSYM
libhost.a
libapp.so
dynhost
preprocessedhost
metadata

expects/expects
benchmarks/rbtree-ck
benchmarks/rbtree-insert
benchmarks/test-astar
benchmarks/test-base64
benchmarks/CFold
benchmarks/Closure
benchmarks/Deriv
benchmarks/Issue2279
benchmarks/NQueens
